{{> adminheader}}

        <div class="profile" style="padding-top:97px;">
                <h3 class="text-center filler-heading">Editing an event</h3>
                <form action="/admin/editevent/search" method="post" id="eventeditsearch_form">
                    <div class="fin">
                        Search Event ID you want to edit:
                        <input  type="text" placeholder="" name="srcheventID" id="name_input" required>
                        <input type="submit" class="btn btn-lg" value="Search" id="form_button" />
                    </div>
                </form>
                <div id="container">
                        <div class="text-center">
                            {{emessage}}
                        </div>
                        <form action="/admin/editevent_submit" method="post" id="event_form">
                            <div class="fin">
                                Name:
                                <input  type="text" placeholder="" value='{{event.Event_Name}}' name="Name" id="name_input" >
                            </div>
                            <div class="fin">
                                Event ID(Not allowed to change):
                                <input type="text" placeholder="" value='{{event.Event_ID}}' name="ID" id="ID_input" readonly>
                            </div>
                            <div class="subject">
                                <label for="subject"></label>
                                <select placeholder="" name="eventType" value='{{event.Event_Type}}' id="subject_input" >
                                    <option disabled hidden selected>Event type</option>
                                    <option>Class</option>
                                    <option>Workshop</option>
                                    <option>Competition</option>
                                    <option>Other</option>
                                </select>
                                <br><br>
                            </div>
                            <div class="fin">
                                Event Description:
                                <textarea name="Description" value="{{event.Event_Description}}" id="description_input" cols="30" rows="5" >{{event.Event_Description}}</textarea>                           </div>
                            <div class="pleft">   
                                Venue:
                                <input  type="text" value="{{event.Venue}}" name="Venue" id="venue_input" >
                            </div>
                            <div class="pright"> 
                                Date:                         
                                <input type="text" value="{{event.Date}}" name="Date" id="date_input" >
                            </div>
                            <div class="pleft">
                                Time:   
                                <input type="text" value="{{event.Time}}"  name="Time" id="time_input" >
                            </div>
                            <div class="pright">   
                                Fee:                        
                                <input type="text" value="{{event.Fee}}" name="Fee" id="fee_input" >
                            </div>
                            <div class="fin"> 
                                Additional links:   
                                <input type="text"  value="{{event.Additional_Links}}" name="Additional" id="Additional_input" >
                            </div>
                            {{#if event}}
                            <div class="editaccess" style="">
                                <input type="submit" class="btn btn-lg" value="Update event" id="form_button" />
                            </div>
                            {{/if}}
                        </form><!-- // End form -->
                    </div><!-- // End #container -->
        </div>

{{> footer}}
