{{> header}}

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="banner_content text-center">
                                <h2>{{event.Event_Name}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="col col-sm">
        <!--Extra space-->
        </div>
        <div class="col-lg-9" style="padding: 4%;">
            <form class="row contact_form" action="/register" method="post" id="contactForm">
                <div class="col-md-3 col-lg-5">
                <!--Extra Space-->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name_input" name="Name" value="{{event.Event_Name}}" placeholder="Event Name" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="ID_input" name="ID" value="{{event.Event_ID}}" placeholder="Event ID (Unique)" readonly>
                    </div>
                    <div class="form-group">
                        <select placeholder="Event type" name="eventType" value="{{event.Event_Type}}" class="form-control" id="subject_input" readonly>
                            <option disabled hidden selected>Event type</option>
                            <option>Class</option>
                            <option>Workshop</option>
                            <option>Competition</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="Description" class="form-control" placeholder="Event Description" value="{{event.Event_Description}}" id="description_input" cols="30" rows="5" readonly>{{event.Event_Description}}</textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="venue_input" name="Venue" value="{{event.Venue}}" placeholder="Venue" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="date_input" name="Date" value="{{event.Date}}" placeholder="Date" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="time_input" name="Time" value="{{event.Time}}" placeholder="Time" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fee_input" name="Fee" value="{{event.Fee}}" placeholder="Fee" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Additional_input" name="Additional" value="{{event.Additional_Links}}" placeholder="Additional Links" readonly>
                    </div>
                    <p>{{login}}</p>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="register"  name="signup_submit" class="btn primary-btn">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{{> footer}}
