{{> header }}

            <!--New Template -->
            <section class="home_banner_area">
              <div class="banner_inner">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="banner_content">
                        <h2>
                        Cybros
                        </h2>
                        <p>
                        The computer club of LNMIIT, Jaipur.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>




            <div class="department_area section_gap">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="dpmt_courses">
                      <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
                          <div class="single_department">
                            <div class="dpmt_icon">
                              <img src="img/dpmt/icon1.png" alt="">
                            </div>
                            <h4>Languages</h4>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                          <div class="single_department">
                            <div class="dpmt_icon">
                              <img src="img/dpmt/icon2.png" alt="">
                            </div>
                            <h4>Business</h4>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
                          <div class="single_department">
                            <div class="dpmt_icon">
                            <img src="img/dpmt/icon3.png" alt="">
                            </div>
                            <h4>Literature</h4>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                          <div class="single_department">
                            <div class="dpmt_icon">
                              <img src="img/dpmt/icon4.png" alt="">
                            </div>
                            <h4>Software</h4>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
                          <div class="single_department">
                            <div class="dpmt_icon">
                              <img src="img/dpmt/icon5.png" alt="">
                            </div>
                            <h4>Design</h4>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                          <div class="single_department">
                            <div class="dpmt_icon">
                              <img src="img/dpmt/icon6.png" alt="">
                            </div>
                            <h4>Coaching</h4>
                          </div>
                        </div>

                        <div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
                          <div class="single_department">
                            <div class="dpmt_icon">
                              <img src="img/dpmt/icon7.png" alt="">
                            </div>
                            <h4>Development</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="offset-lg-1 col-lg-5">
                    <div class="dpmt_right">
                      <h1>Over 2500 Courses from 5 Platform</h1>
                      <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                      exciting to think about setting up your own viewing station. In the life of any aspiring astronomer that it is
                      time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
                      <p>It’s exciting to think about setting up your own viewing station. In the life of any aspiring astronomer that
                      it is time to buy that first telescope exciting is time to buy that first.</p>
                      <a href="#" class="primary-btn text-uppercase">Explore Courses</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fact_area overlay">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="main_title">
                      <h2>Facts that Make us Unique</h2>
                      <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                      exciting to think about setting up your own viewing station.</p>
                    </div>
                    </div>
                  </div>
                <div class="row">

                  <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                      <div class="f_icon">
                        <img src="img/f-icons/icon1.png" alt="">
                      </div>
                      <h4>Expert Mentors</h4>
                      <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit
                      amet consec tetur adipisicing elit, sed do eiusmod tempor sed do eiusmod tempor incididunt labore dolor sit amet
                      consec tetur adipisicing elit, seddo eiusmod tempor.</p>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                      <div class="f_icon">
                        <img src="img/f-icons/icon2.png" alt="">
                      </div>
                      <h4>25000+ Courses</h4>
                      <p>Lorem ipsum dolor sit amet consec tetur adipis icing elit, sed do eiusmod tempor incididunt labore dolor sit
                      amet consec.</p>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                      <div class="f_icon">
                        <img src="img/f-icons/icon3.png" alt="">
                      </div>
                      <h4>Student Membership</h4>
                      <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit
                      amet consec tetur adipisicing elit, sed do eiusmod tempor sed do eiusmod tempor incididunt labore dolor sit amet
                      consec tetur adipisicing elit, seddo eiusmod tempor.</p>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                      <div class="f_icon">
                        <img src="img/f-icons/icon4.png" alt="">
                      </div>
                      <h4>Lifetime Access</h4>
                      <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit
                      amet consec tetur adipisicing elit sed do eiusmod.</p>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                      <div class="f_icon">
                        <img src="img/f-icons/icon5.png" alt="">
                      </div>
                      <h4>Source File Included</h4>
                      <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit
                      amet consec tetur adipisicing elit sed do eiusmod.</p>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                      <div class="f_icon">
                        <img src="img/f-icons/icon6.png" alt="">
                      </div>
                      <h4>Live Support</h4>
                      <p>Lorem ipsum dolor sit amet consec tetur adipis icing elit, sed do eiusmod tempor incididunt labore dolor sit
                      amet consec.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {{#if event.length}}
            <div class="events_area">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="main_title">
                      <h2>Upcoming Events</h2>
                      <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                      exciting to think about setting up your own viewing station.</p>
                    </div>
                  </div>
                </div>
                {{rmessage}}
                <div class="row">
                  {{#each event}}
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-12 col-sm-12">
                        <div class="single_event">
                          <div class="row align-items-center">
                            <div class="col-lg-6 col-md-5">
                              <div class="event_thumb">
                                <img src="../images/papersLnmiit.jpg" alt="" class="event_home">
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-7">
                              <div class="event_details">
                                <p>{{this.Event_Date}}</p>
                                <h4>
                                  <a href="/event{{this.Event_ID}}">{{{this.Event_Name}}}</a>
                                </h4>
                                <p>{{this.Event_Description}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/if}}

             <div class="section_gap registration_area">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-7">
                    <div class="row clock_sec clockdiv" id="clockdiv">
                      <div class="col-lg-12">
                        <h1>Register Now</h1>
                        <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                        exciting to think about setting up your own viewing station.</p>
                      </div>
                      <div class="col clockinner1 clockinner">
                        <h1 class="days">150</h1>
                        <span class="smalltext">Days</span>
                      </div>
                      <div class="col clockinner clockinner1">
                        <h1 class="hours">23</h1>
                        <span class="smalltext">Hours</span>
                      </div>
                      <div class="col clockinner clockinner1">
                        <h1 class="minutes">47</h1>
                        <span class="smalltext">Mins</span>
                      </div>
                      <div class="col clockinner clockinner1">
                        <h1 class="seconds">59</h1>
                        <span class="smalltext">Secs</span>
                      </div>
                      </div>
                  </div>
                  <div class="col-lg-4 offset-lg-1">
                    <div class="register_form">
                      <h3>Courses for Free</h3>
                      <p>It is high time for learning</p>
                      <form class="form_area" id="myForm" action="https://colorlib.com/preview/theme/edusmart/mail.html" method="post">
                        <div class="row">
                          <div class="col-lg-12 form_group">
                            <input name="name" placeholder="Your Name" required="" type="text">
                            <input name="name" placeholder="Your Phone Number" required="" type="tel">
                            <input name="email" placeholder="Your Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required="" type="email">
                          </div>
                          <div class="col-lg-12 text-center">
                            <button class="primary-btn">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- New Template Ends -->
{{> footer }}

