{{> header}}

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="banner_content text-center">
                                <h2>Profile</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="col col-sm">
        <!--Extra space-->
        </div>
        <div class="col-lg-9" style="padding: 4%;">
            <form class="row contact_form" action="/update" method="post" id="contactForm">
                <div class="col-md-3 col-lg-5">
                <!--Extra Space-->
                </div>
                <div class="text-center">{{ pmessage }}</div>
                <div class="col-md-6">
                    <div class="form-group">
                        Name: 
                        <input type="text" class="form-control" id="name_input" name="Name" value="{{user.Name}}">
                    </div>
                    <div class="form-group">
                        <form action="/uploadImage" method="post" id="image upload"></form>
                            Profile picture:
                            <input class="form-control" type="image" value="/profileImage/{{user.usename}}/.jpg" name="ProfileImage" id="image_input">
                            <div class="col-md-12 text-right" style="padding-bottom: 1%;">
                                <button type="upload" value="Update" class="btn primary-btn">Upload</button>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        Phone:
                        <input type="text" class="form-control" id="phone_input" name="Phone" value="{{user.Phone}}">
                    </div>
                    <div class="form-group">
                        Email:
                        <input type="email" class="form-control" id="Email_input" name="Email" value="{{user.Email}}">
                    </div>
                    <div class="form-group">
                        Password:
                        <input type="password" class="form-control" id="password_input" name="Password" value="{{user.Password}}" readonly>
                        <input type="checkbox" class="showhide"> Show/Hide </input>
                    </div>
                    <div class="form-group">
                        Age:
                        <input type="text" class="form-control" id="Age_input" name="Fee" value="{{user.Age}}">
                    </div>
                    <div class="form-group">
                        Gender:
                        <input type="text" class="form-control" id="Gender_input" name="Gender" value="{{user.Gender}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Additional_input" name="Additional" value="{{event.Additional_Links}}" placeholder="Additional Links">
                    </div>
                    <div class="form-group">
                        Address:
                        <input type="text" class="form-control" id="Address_input" name="Address" value="{{user.Address}}">
                    </div>
                    <div class="form-group">
                        Institute/Company:
                        <input type="text" class="form-control" id="Institute/Company_input" name="Institute_or_Company" value="{{user.Institute_or_Company}}">
                    </div>
                    <p>{{login}}</p>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="edit" class="btn primary-btn">Add/Edit Details</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{> footer}}
