<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Cybros|LNMIIT</title>
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Chaitanya Giri">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<link href="https://fonts.googleapis.com/css?family=Poiret+One|Gloria+Hallelujah|Rubik" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
<link rel="shortcut icon" type="image/png" href="favicon.png"/> 
<link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
        <nav id="main" class="main navbar navbar-fixed-top wide topNavbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    
                    <div class="navbar-toggle toggle-switch pull-right" data-target="#mySidenav">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                    </div>
                    <div class="navbar-brand hfont" href="#">
                        <a href="/">
                            <img class="img-responsive" style="display: block ;
                            margin-left: auto;
                            margin-right: auto;" src="../favicon.png" alt="logo" width="100" height="60">
                        </a>
                    </div>
                  </div>
                        <div id="mySidenav" class="sidenav">
                                <!--{{user}} will be used by template-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{user.username}}
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" style="font-size: 18px;" href="/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile 
                                        </a>
                                        <a class="dropdown-item" style="font-size: 18px;" href="/signup/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out 
                                        </a>
                                    </div>
                                </li>
                                <a href="/">Home</a>
                                <a href="about">About</a>
                                <a href="classes">Classes</a>
                                <a href="workshops">Workshops</a>
                                <a href="competition">Competitions</a>
                                <a href="signup">Sign up/Sign in</a>
                        </div>
                </div>
        </nav>
        <div class="container-fluid" style="padding-top:100px;">
            <div class="profile row">
                <h3 class="filler-heading text-center">My Profile</h3>
                <div class="col-md-3 text-center">
                    <br><br>
                    <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                    <p class="pvalue">{{user.username}}</p>
                </div>
                <div class="col-md-6">
                    <div id="container">
                        <div class="text-center">
                            {{pmessage}}
                            <p class="pmessage"></p>
                        </div>
                        <form action="/update" method="post" id="contact_form">
                            <div class="pleft">
                                Name: 
                                <input class="decryptForEdit" type="text" value="{{user.Name}}" name="Name" id="name_input" readonly>
                            </div>
                            <div class="pright">
                                Phone:
                                <input class="decryptForEdit" type="text" value="{{user.Phone}}" name="Phone" id="phone_input" readonly>
                            </div>
                            <div class="fin">
                                Email:
                                <input class="decryptForEdit" type="email" value="{{user.Email}}" name="Email" id="Email_input" readonly>
                            </div>
                            <div class="fin">
                                Password:
                                <input class="decryptForEdit" type="password" value="{{user.Password}}" name="Password" id="password_input" readonly>
                                <input type="checkbox" class="showhide"> Show/Hide </input>
                                <br><br>
                            </div>
                            <div class="pleft">
                                Age:
                                <input class="decryptForEdit" type="text" value="{{user.Age}}" name="Age" id="Age_input" readonly>
                            </div>
                            <div class="pright">
                                Gender:
                                <input class="decryptForEdit" type="text" value="{{user.Gender}}" name="Gender" id="Gender_input" readonly>
                            </div>
                            <div class="fin">
                                Address:    
                                <input class="decryptForEdit" type="text" value="{{user.Address}}" name="Address" id="Address_input" readonly>
                            </div>
                            <div class="fin">
                                Institute/Company:    
                                <input class="decryptForEdit" type="text" value="{{user.Institute_or_Company}}" name="Institute_or_Company" id="Institute/Company_input" readonly>
                            </div>
                            <div class="submit updatebtn" style="display:none;">
                                <input type="submit" value="Update" id="form_button" />
                            </div>
                        </form><!-- // End form -->
                    </div><!-- // End #container -->
                </div>
                <div class="col-md-3 text-center submit " id="form-button">
                    <br><br>
                        <button class="editUser" id="form_button">        
                            Add/Edit details <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                </div>
            </div>
        </div>
        
        <div class="container-fluid footer">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>About Us</h4>
                        <p>Cybros Computer Club, The LNMIIT, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p></div>
                     
                     <div class="col-sm-2 col-md-offset-1">
                        <h4>Shortcut</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Classes</a></li>
                            <li><a href="#">Workshop</a></li>
                            <li><a href="#">Competitions</a></li>
                            <li><a href="#">Sign in/Sign up</a></li>
                        </ul>
                    </div>
    
                     <div class="col-sm-3 subscribe footer_1">
                        
                        <h4>Subscription</h4>
                        <div class="input-group">
                        <input type="email" class="form-control" placeholder="Email id">
                        <span class="input-group-btn">
                        <button class="btn btn-default but" type="button">Subscribe</button>
                        </span>
                        </div>
                        
                        <div class="social">
                            <h4>Find us across internet</h4> 
                        <a id="face" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-lg" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"></i></a>
                  <!--  <a href="#"><i class="fa fa-instagram fa-2x"  data-toggle="tooltip" data-placement="top" data-original-title="instragram"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-2x" data-toggle="tooltip" data-placement="top" data-original-title="twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square fa-2x" data-toggle="tooltip" data-placement="top" data-original-title="pinterest"></i></a>
                        <a href="#"><i class="fa fa-tumblr-square fa-2x" data-toggle="tooltip" data-placement="top" data-original-title="tumblr"></i></a>
                    --> <a id="git" href="https://www.github.com/cybros" target="_blank"><i class="fa fa-github-square fa-lg" data-toggle="tooltip" data-placement="top" data-original-title="github"></i></a>
                        <a id="mail" href="mailto:girichaitanya11@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg" data-toggle="tooltip" data-placement="top" data-original-title="Email"></i></a>
                        <br>
                        </div>
                    </div>
                </div>
                <!--/.row--> 
            </div>
            <!--/.container-->    
        
        <!--/.footer-bottom--> 
        </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/index.js"></script>

</body>
</html>
