{{> header}}

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="banner_content text-center">
                                <h2>Workshops</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{#if event.length}}
    <div class="events_area">
      <div class="container">
        {{rmessage}}
        <div class="row">
          {{#each event}}
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <div class="single_event">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-5">
                      <div class="event_thumb">
                        <img src="../images/papersLnmiit.jpg" alt="" class="event_home">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                      <div class="event_details">
                        <p>{{this.Event_Date}}</p>
                        <h4>
                          <a href="/event{{this.Event_ID}}">{{{this.Event_Name}}}</a>
                        </h4>
                        <p>{{this.Event_Description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/if}}

{{> footer}}

